.defs {
  position: absolute;
  width: 0;
  height: 0;
}

.markerSuccess,
.markerAsync {
  fill: var(--accent-neutral);
}

.markerFailure {
  fill: var(--accent-red);
}

.markerConditional,
.markerRetry {
  fill: var(--accent-amber);
}
